body {
  background-color: white;
}
  h1 {
  text-align: center;
}
p {
  color: black;
}
h3{
  background-color: black;
  color: white;
  padding: 8px;
}

a {
  background-color: #467599;
  margin-left: 50.5px;
}

#tabs {
  background-color: #b2f7ef;
}
ul {
  background-color: black;
}

li {
  color: black;
}

code {
  font-size: 16px;
  color: black;
}

code.comment {
  color: green;
}
